/*
 *
 * Don't forget to set custom_css to true in the defaults.php file!
 *
 */

@import url('options.css');

#redux-opts-form-wrapper {
	background-image: none;
	border: none;
	box-shadow: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: 0;
	background-color: #474D63;	
}

#redux-opts-header {
	height: 60px;	
	line-height: 60px;
	border-bottom: 1px solid #373D53;
}

#redux-opts-header .logo {
	background: url(../img/logo.png) no-repeat;
	width: 104px;
	height: 58px;
	float: left;
	display: inline-block;	
}

#redux-opts-footer {
	height: 60px;	
	line-height: 60px;
	border-top: 1px solid #373D53;
}

#redux-opts-footer #redux-opts-share {
	margin-top: 14px;
}

#redux-opts-footer #redux-opts-share a {
	width: 32px;
	height: 32px;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	
	-webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;	
}

#redux-opts-footer #redux-opts-share a i {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	
	color: #FFFFFF;
	font-size: 16px;
}

#redux-opts-footer #redux-opts-share a:hover {
	opacity: 0.7;
}

#redux-opts-main {
	border-left: none;
	border-right: 1px solid #DFDFDF;
	margin-left: 200px;	
}

.redux-opts-group-tab h3 {
	color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
	font-style: normal;
	
	border-bottom: none;
}

.redux-opts-section-desc .description {
	color: #555555;
    font-size: 14px;
    line-height: 23px;
	font-style: normal;
}

.redux-opts-group-tab .form-table tr th {
	color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 8px;
}

.redux-opts-group-tab .form-table tr th .description {
	color: #999999;
	font-size: 12px;
	font-style: normal;
	margin-top: 8px;
}

.redux-opts-group-tab .form-table tr th, .redux-opts-group-tab .form-table tr td {
	padding: 30px 20px 30px;	
}

.redux-opts-upload-remove {
	margin-top: 10px;
	display: block;	
}

#redux-opts-header .button.button-primary,
#redux-opts-footer .button.button-primary {
	background: #1ABC9C;
    border: none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    color: #FFFFFF;
    font-weight: bold;
    height: 38px;
    padding: 0 20px;
    text-shadow: none;
    text-transform: uppercase;

    -webkit-transition: opacity 0.1s linear  !important;
       -moz-transition: opacity 0.1s linear !important;
         -o-transition: opacity 0.1s linear !important;
            transition: opacity 0.1s linear !important;
}

#redux-opts-header .button,
#redux-opts-footer .button {
	background: #F2F2F2;
    border: none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    color: #333333;
    font-weight: bold;
    height: 38px;
    padding: 0 20px;
    text-shadow: none;
    text-transform: uppercase;

    -webkit-transition: opacity 0.1s linear  !important;
       -moz-transition: opacity 0.1s linear !important;
         -o-transition: opacity 0.1s linear !important;
            transition: opacity 0.1s linear !important;
}

#redux-opts-header .button:hover,
#redux-opts-footer .button:hover,
#redux-opts-header .button.button-primary:hover,
#redux-opts-footer .button.button-primary:hover {
	opacity: 0.85;
}

#redux-opts-sidebar #redux-opts-group-menu {
	margin: 0;
}

#redux-opts-sidebar #redux-opts-group-menu li a {
	border: none;
	border-bottom: 1px solid #373D53;
	background: #474D63;
	padding: 20px 14px;
	color: #FFFFFF;
	font-weight: bold;
	width: 172px;	
	
	-webkit-transition: all 0.1s linear  !important;
       -moz-transition: all 0.1s linear !important;
         -o-transition: all 0.1s linear !important;
            transition: all 0.1s linear !important;
}

#redux-opts-sidebar #redux-opts-group-menu li a:focus,
#redux-opts-sidebar #redux-opts-group-menu li a:active,
#redux-opts-sidebar #redux-opts-group-menu li a:hover {
	outline: none;
	background: #1ABC9C;
	color: #FFFFFF;	
}

#redux-opts-sidebar #redux-opts-group-menu li a:hover {
	width: 172px;	
}

#redux-opts-sidebar #redux-opts-group-menu li a i {
	display: none;
}

#redux-opts-sidebar #redux-opts-group-menu li a:hover i,
#redux-opts-sidebar #redux-opts-group-menu li.active a i {
	color: #FFFFFF;	
}

#redux-opts-sidebar #redux-opts-group-menu li.active a {
	background: #1ABC9C;
	color: #FFFFFF;	
	width: 172px;
}