
.brandcontainer {
		.make-sm-column(12);
	.brandlogo {
		display: inline-block;
		padding: @line-height-computed 0;
	}	
	.brand {
		display: inline-block;
		line-height: 0;
		padding: @line-height-computed 0;
	}
	.brandcare {
		color: blue;
	}
}

h2 {
	color: blue;
}

.mainslider {
	.make-sm-column(12);
	img {
		.img-responsive;
	}
}

@media (min-width: @screen-sm-min) {

}
